<div id="main">
    <p>On this site you can find out full information about any legend.</p>
    <p>You will find out:</p>
    <ul>
        <li>All about the abilities of heroes</li>
        <li>Which weapons are better to use with them</li>
        <li>And most importantly, unique chips received from top players</li>
    </ul>
    <p>Order soon while the promotions are in effect!</p>
</div>